{% extends 'main.html' %}
{% load static %}

{% block content %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/forgot_password.css' %}" />
    {% endblock %}
<div class="forgot-password-container">
    <div class="form-wrapper">
        <h2 class="form-title">Forgot Password</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required class="form-input" />
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required class="form-input" />
            </div>
            <input type="submit" value="Submit" class="form-submit" />
        </form>
    </div>
</div>
{% endblock %}
