{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: space-between;
        margin: 0 10%;
    }
</style>

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr />
        <div>
            <a href="{% url 'home' %}">All</a>
            <hr />
        </div>
        {% for topic in topics %}
        <div>
            <h5>{{ topic.name }}</h5>
            <p>{{ topic.description }}</p>
            <a href="{% url 'home' %}?q={{ topic.name }}">View Topic</a>
            <hr />
        </div>
        {% endfor %}
    </div>
    
    <div>
        <h5>{{ room_count }} available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        <hr />
        <div>
            {% for room in rooms %}
            <div>
                <span>@{{ room.host.username }}</span><br />
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <h5>{{ room.name }}</h5>
                <p>{{ room.description }}</p>
                <small>{{ room.topic }}</small>
                <a href="{% url 'room' room.id %}">Enter Room</a>
                <hr />
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
