{% extends 'main.html' %}

{% block content %}
<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        margin: 0 5%;
    }

    .profile-container div {
        padding: 20px;
    }

</style>
<div class="profile-container">
    <h3>{{ user.username }}</h3>
    <p>{{ user.date_joined }}</p>

    <div>
        {% include 'base/topics_components.html' %}
    </div>

    <div>
        {% include 'base/feed_components.html' %}
    </div>

    <div>
        {% include 'base/activity_components.html' %}
    </div>
</div>
{% endblock %}