<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classroom</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/dark_mode.css' %}" />
    <script src="{% static 'scripts/main.js' %}"></script>
  </head>
  <body>
    {% include 'navbar.html' %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="alert-message">
        {{ message }}
        <div class="loader"></div>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% block content %} {% endblock %}

  </body>
</html>