body {
    padding-top: 0;
}

.home-container {
    margin-top: 2rem;
    padding-bottom: 2rem;
}
    
.browse-topics, .activity {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.25rem;
}
    
.create-room {
    padding: 1rem;
}

