.message-content {
    max-width: 80%;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.message-meta {
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

/* .bg-primary {
    background-color: #8405eb !important;
}

.text-primary {
    color: #8405eb !important;
}

.btn-primary {
    background-color: #8405eb !important;
    border-color: #8405eb !important;
} */